<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Fabilio" value="https://nuget.pkg.github.com/yuriy-butkevych/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceCredentials>
    <Fabilio>
        <add key="Username" value="token" />
        <add key="ClearTextPassword" value="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" />
    </Fabilio>
  </packageSourceCredentials>
</configuration>